/************************
GENERAL
************************/

a {
	text-decoration: none;
}

hr {
	max-width: 960px;
	margin-top: 4px;
	margin-bottom: 4px;
}

h2 {
	font-family: 'Kreon', serif;
	font-size: 18px;


}

h3 {
	font-family: 'Kreon', serif;
	font-size: 16px;
}

p {
	font-size: 13px;
}


/************************
HEADER
************************/




/************************
NAVIGATION
************************/

nav {
	max-width: 960px;
	padding: 0;
	margin: 20px auto;
}

nav li {
	display: inline-block;
	margin: 0 3.8%;
	padding: 0;
	font-family: 'Oswald', serif;
	font-weight: 700;
	font-size: 18px;
	max-width: 14.28%;
}

nav a {
	color: #000;
}

nav a:hover {
	color: #ADD6C2;
}



/************************
BODY
************************/

#news {
	float: left;
	max-width: 43%;
	margin: 12px 2% 20px 14.7%;
}

#news ul {
	list-style: none;
	padding: 0;
}



/************************
INSTAGRAM
************************/

#instagram {
	float: right;
	margin: 30px 14.28% 20px 1%;
}

#instagram h2 {
	text-align: center;
	font-size: 18px;
	padding-right: 4px;
}

#instagram ul {
	list-style: none;
	padding: 0;
}



/************************
TOUR
************************/

#tour {
	font-size: 13px;
}



/************************
SOCIAL BAR
************************/

#social {
	position: fixed;
	z-index: -1px;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #585858;
	opacity: 0.9;
}

#iconbar {
	margin: 0 31%;
}

.icon {
	display: inline-block;
	margin: 15px 10px 0px 10px;
	float: right;
}

#fourth {
	margin-right: 145px;
}

.icon img {
	max-height: 30px;
	max-width: 30px;
	opacity: 1;
}



/************************
FOOTER
************************/

footer {
	width: 100%;
	clear: both;
	margin: 0 0 80px 0;
	text-align: center;
	background-color: #FFF;
	line-height: 10px;
}

footer hr {
	max-width: 960px;
}